body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 2em;
}

h1 {
  color: #4b0082;
}
button {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
}
